body, select, button, input, form{
    background-color: #fff;
    color: #333;
    font: 16px Helvetica, Arial, sans-serif;
}

body{
    max-width: 800px;
    margin-left: 200px;
}

a, a:visited{
    color: teal;
    font-weight: bold;
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
}

h1, h2, h3{
    color: #333;
}

select{
    min-width: 200px;
}

