<h3 class="text-muted">Autohaus</h3>
<nav>
    <a href="/">Home</a> |
    <a href="/newColor">Color</a> |
    <a href="/newEngine">Engine</a> |
    <a href="/newTransmission">Transmission</a> |
    <a href="/newCustomer">Customer</a> |
    <a href="/newCountry">Country</a> |
    <a href="/newMake">Make</a> |
    <a href="/newCarModel">Car Model</a> |
    <a href="/newCar">Car</a> |
    <a href="/newOrder">Orders</a>

    <br><br>
    <a href="loginpage">Login</a> |
    <a href="registration">Register</a>

</nav>
